.container_tree {
    width: 100vh;
    min-height: 500px;
    background: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.app {
    color: red;
}

.smallImage {
    width: 500px;
}

.status {
    width: 10px;
    height : 10px; 
    background: #c0392b;
    display: block;
    float: left;
    margin: 10px 10px 0 0 ;
    border-radius: 50%;
    &.isAdmin {
        background: #2ecc71;
    }
}
