.status {
    width: 10px;
    height : 10px; 
    background: #c0392b;
    display: block;
    float: left;
    margin: 10px 10px 0 0 ;
    border-radius: 50%;
    &.isAdmin {
        background: #2ecc71;
    }
}
